body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

#sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  background: #202020;
  padding-top: 20px;
}

#sidebar a {
  padding: 15px 20px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

#sidebar a:hover {
  background-color: #00bd16;
}
